
@mixin input_type {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    color: $color-dark-shade75;
}

.textfield {
    &_size_l {
        width: 320px;
        height: 44px;
        padding: 15px;

        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid $color-dark-shade25;
    }

    &__title {
        @include h3_type;
        margin-bottom: 5px;
    }

    &__input {
        @include input_type;

        &_default {
            border-color: $color-dark-shade25;
        }

        &_focused, &:focus, &:hover {
            border-color: $color-dark-shade50;
            outline: none;
        }

        &::placeholder {
            color: $color-dark-shade25;
        }
    }
}
