/***** Box Primary Variables *****/
$textfield-width-l: 320px;
$textfield-width-m: 267px;
$textfield-height:  44px;
$textfield-border:  1px solid $color-dark-shade25;
$textfield-border-radius: 4px;

$textfield-focused-border-color: $color-dark-shade50;
$textfield-focused-font-color: $color-dark-shade75;
$textfield-default-color: $color-dark-shade25;


@mixin box-styles ($width: $textfield-width-l, 
                   $height: $textfield-height, 
                   $box-sizing: border-box,
                   $border-radius: $textfield-border-radius, 
                   $border: $textfield-border) {
    width: $width;
    height: $height;
    box-sizing: $box-sizing;
    border-radius: $border-radius;
    border: $border;
}

.textfield {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 5px;

    &__title {
        @include font-styles(12px, $color-dark-shade, bold, 15px, Montserrat, uppercase);
    }

    &__box {
        @include box-styles();
        padding-left: 15px;
        padding-right: 15px;

        display: flex;
        justify-content: space-between;

        &__input {
            @include font-styles(14px, $color-dark-shade75, normal);
            box-sizing: border-box;
            outline: none;
            border: none;

            align-self: center;
            flex-grow: 1;
        
            &::placeholder {
                color: $textfield-default-color;
            }
        }

        &__btn {
            width: 44px;
            height: 44px;

            display: block;
            border-radius: 4px;

            position: relative;
        }

        &_size_m {
            width: $textfield-width-m;
        }

        &_default {
            border-color: $textfield-default-color;
        }

        &_focused, &:focus, &:hover {
            border-color: $textfield-focused-border-color;
            outline: none;
        }
    }
}

  
.arrow {
    position: relative;
    width: 14px;
    height: 2px;

    left: 35%;
    top: 45%;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    &::after, &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        right: -3px;
        background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &::after {
        top: -3px;
        transform: rotate(45deg);
    }

    &::before {
        top: 3px;
        transform: rotate(-45deg);
    }
}
