mixin checkbox-item(options)

    .checkbox__item
        input(type="checkbox", id=options.id, checked=options.checked)
        div(class="checkbox__mark")
        label(class="checkbox__label")= options.label
