mixin type-palette(options)
    -
        var type = options.type.toLowerCase()
        var typeClassName = type + " type-palette__type"
        var textClassName = type

    .type-palette
        div(class = typeClassName)= options.type
        div(class = textClassName) !{options.text}
