/***** Colors & Type Palette  *****/
.palette {
    display: flex; 
    justify-content: space-around;
    margin-top: 3rem;
}

/***** Color Palette  *****/
.color-palette {
    display: grid; 
    grid-template-columns: auto minmax(16rem, 1fr);
    column-gap: 4rem;
    align-items: center;
    
    margin-bottom: 2rem;

    &__box {
        width: 7rem;
        height: 7rem;
        border-radius: 0.6rem;
        grid-area: 1/1/3/2;
    }
    
    &__name {
        @include font-styles($size: 1.9rem, $weight: 700, $family: Quicksand);

        margin-top: 0.9rem;
    }
    
    &__value {
        @include font-styles($size: 1.9rem, $family: Quicksand);

        margin-bottom: 0.5rem;
    }

    @mixin colors($colors...) {
        @each $i in $colors {
            &#{nth($i, 1)} {
                background: nth($i, 2);
            }
        }
    }
    @include colors(
        '_dark-shade'   $color-dark-shade,
        '_dark-shade75' $color-dark-shade75,
        '_dark-shade50' $color-dark-shade50,
        '_dark-shade25' $color-dark-shade25,
        '_dark-shade05' $color-dark-shade05,
        '_purple'       $color-purple,
        '_green'        $color-green
    )
}

/***** Type Palette  *****/
.type-palette {
    display: grid; 
    grid-template-columns: 3rem minmax(34rem, 1fr);
    grid-column-gap: 3.2rem;
    margin-bottom: 5rem;

    &__type {
        font-family: Montserrat;
        font-weight: normal;
        color: $color-dark-shade25;
        justify-self: flex-end;
    }

}
