/***** Colors & Type Palette  *****/
.palette {
    display: flex; 
    justify-content: space-around;
    margin-top: 30px;
}

/***** Color Palette  *****/
.color-palette {
    display: grid; 
    grid-template-columns: auto 1fr;
    grid-column-gap: 40px;
    align-items: center;
    
    margin-bottom: 20px;

    &__box {
        width: 70px;
        height: 70px;
        border-radius: 6px;
        grid-area: 1/1/3/2;
    }
    
    &__name {
        @include font-styles($size: 19px, $weight: bold, $family: Quicksand);
    }
    
    &__value {
        @include font-styles($size: 19px, $family: Quicksand);
    }

    @mixin colors($colors...) {
        @each $i in $colors {
            &#{nth($i, 1)} {
                background: nth($i, 2);
            }
        }
    }
    @include colors(
        '_dark-shade'   $color-dark-shade,
        '_dark-shade75' $color-dark-shade75,
        '_dark-shade50' $color-dark-shade50,
        '_dark-shade25' $color-dark-shade25,
        '_dark-shade05' $color-dark-shade05,
        '_purple'       $color-purple,
        '_green'        $color-green
    )
}

/***** Type Palette  *****/
.type-palette {
    display: grid; 
    grid-template-columns: 30px 340px;
    grid-column-gap: 32px;
    margin-bottom: 50px;

    &__type {
        font-family: Montserrat;
        font-weight: normal;
        color: $color-dark-shade25;
        justify-self: flex-end;
    }

}
