@import "./fonts.scss";

// Components
@import "../components/colors-type/colors-type.scss";
@import "../components/form-elements/textfield/textfield.scss";
@import "../components/form-elements/dropdown/styles/main.scss"; //???
@import "../components/form-elements/checkbox/checkbox.scss";

// Styles for tests pages
@import "../views/ui-kit/colors-type/palette.scss";
@import "../views/ui-kit/form-elements/palette.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: #fff;
}

