mixin palette(options)
    -
        var colorClassName = options.name
        var clarity = options.clarity ? options.clarity : ""

    .color-palette
        div(class = "color-palette_dark-shade05")= options.name


