mixin palette(options)
    -
        var colorClassName = options.name
        var clarity = options.clarity ? options.clarity : ""

    .palette
        div(class = "color-palette_dark_shade_opacity05")= options.name


