/***** Color Variables *****/
$color-dark-shade:   #1F2041;
$color-dark-shade75: rgba(#1F2041, 0.75);
$color-dark-shade50: rgba(#1F2041, 0.50);
$color-dark-shade25: rgba(#1F2041, 0.25);
$color-dark-shade05: rgba(#1F2041, 0.05);
$color-purple:       #BC9CFF;
$color-green:        #6FCF97;

/***** Type Variables *****/
$type-size-primary:   19px;
$type-family-primary: Montserrat;

/***** Type Styles *****/
@mixin font-styles ($size: $type-size-primary, 
                    $color: $color-dark-shade, 
                    $weight: normal, 
                    $height: normal,
                    $family: $type-family-primary, 
                    $transform: none) {
    color: $color;
    font-family: $family;
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    text-transform: $transform;
    -webkit-font-smoothing: antialiased;
}

.H1 {
    @include font-styles(24px, $color-dark-shade, bold, 30px, Quicksand);
}

.H2 {
    @include font-styles(19px, $color-dark-shade, bold, 24px, Quicksand);
}

.H3 {
    @include font-styles(12px, $color-dark-shade, bold, 24px, Montserrat, uppercase);
}
 
.Body {
    @include font-styles(14px, $color-dark-shade75, normal, 24px);
}
