/***** Color Variables *****/
$color-dark-shade:   #1F2041;
$color-dark-shade75: rgba(#1F2041, 0.75);
$color-dark-shade50: rgba(#1F2041, 0.50);
$color-dark-shade25: rgba(#1F2041, 0.25);
$color-dark-shade05: rgba(#1F2041, 0.05);
$color-purple:       #BC9CFF;
$color-green:        #6FCF97;

/***** Type Variables *****/
$type-size-primary:   1.9rem;
$type-family-primary: Montserrat;

/***** Type Styles *****/
@mixin font-styles ($size: $type-size-primary, 
                    $color: $color-dark-shade, 
                    $weight: 300, 
                    $height: normal,
                    $family: $type-family-primary, 
                    $transform: none) {
    color: $color;
    font-family: $family;
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    text-transform: $transform;
    -webkit-font-smoothing: antialiased;
}

.h1 {
    @include font-styles(2.4rem, $color-dark-shade, 700, 3rem, Quicksand);
}

.h2 {
    @include font-styles(1.9rem, $color-dark-shade, 700, 2.4rem, Quicksand);
}

.h3 {
    @include font-styles(1.2rem, $color-dark-shade, 700, 1.5rem, Montserrat, uppercase);
}
 
.body {
    @include font-styles(1.4rem, $color-dark-shade75, 400, 2.4rem);
}
