doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Form Elements test
    body
        .elements-palette
            div 
                .textfield__title Text Field
                input.textfield__input.textfield_size_l.textfield__input_default(type="text", placeholder="Email")
            div 
                .textfield__title Text Field
                input.textfield__input.textfield_size_l.textfield__input_focused(type="text", value="This is pretty awesome")
            div 
                .textfield__title Dropdown
                div.textfield_size_l.textfield__dropdown
                    input.textfield__dropdown__input(type="text", placeholder="Сколько гостей")
                    div.textfield__dropdown__arrow
            div 
                .textfield__title Dropdown
                div.iqdropdown.no-config
                    p.iqdropdown-selection
                    div.iqdropdown-menu
                        div.iqdropdown-menu-option(data-id='item1')
                            div
                                p.iqdropdown-item Item1
                        div.iqdropdown-menu-option(data-id='item2')
                            div
                                p.iqdropdown-item Item2
                        div.iqdropdown-menu-option(data-id='item3')
                            div
                                p.iqdropdown-item Item3


            div 
                .textfield__title Masked Text Field
                input.textfield__input.textfield_size_l.textfield__input_default(data-mask="00.00.0000", placeholder="ДД.ММ.ГГГГ")

            div.textfield__dropdown__arrow()
