doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Form Elements test
    body
        div 
            .textfield__title Text Field
            input.textfield__input.textfield__input_default(type="text", placeholder="Email")
        div 
            .textfield__title Text Field
            input.textfield__input.textfield__input_focused(type="text", value="This is pretty awesome")
