mixin dropdown()
    .dropdown
        div(class="dropdown__title", default="Сколько гостей") 
            i(class="dropdown__arrow")
        
        .dropdown__menu.dropdown__menu_hide
            div(class="dropdown__option", id="option1") Option 1
            div(class="dropdown__option", id="option2") Option 2
            div(class="dropdown__option", id="option3") Option 3
            div(class="dropdown__option", id="option4") Option 4

