mixin dropdown()
    .dropdown
        div(class="dropdown__title", wordforms="Гость Гостя Гостей", default="Сколько гостей") 
            i(class="dropdown__arrow")
        
        .dropdown__list
            div(class="dropdown__item", id="option1", default="2") Взрослые
            div(class="dropdown__item", id="option2", default="1") Дети
            div(class="dropdown__item", id="option3") Младенцы

