.iqdropdown .iqdropdown-item-controls {
  display: flex;
  height: $iqdropdown-controls-size;

  .counter {
    @include font-styles($size: $iqdropdown-fontsize-m, $color: $gray-900, $weight: bold, $transform: uppercase);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0px;
    border-top: 0px;
    padding: 0px 0px;
    width: 32px;
  }

  button {
    align-items: center;
    box-sizing: border-box;
    border: $iqdropdown-border;
    display: flex;
    height: $iqdropdown-controls-size;
    padding: 0px 11px;
    justify-content: space-around;

    &:hover {
      background-color: $iqdropdown-background-hover; //fff
    }

    &.button-decrement {
      border-radius: $iqdropdown-controls-size;

      //border-color: $color-dark-shade25;
    }

    &.button-increment {
      border-radius: $iqdropdown-controls-size;
    }
  }
}
