@import '../app';
@import 'iqdropdown-menu';
@import 'item-description';
@import 'controls';

.iqdropdown {
  align-items: center;
  border: $iqdropdown-border;
  border-radius: 4px;
  display: flex;
  height: $iqdropdown-height;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  width: 320px;

  .iqdropdown-selection {
    display: flex;
    justify-content: space-between;
    @include font-styles($iqdropdown-fontsize-l);
    order:1;


    &::after {
      background-image: none;
      top: 0px;
      align-self: center;
      order: 2;

      width: 10px;
      height: 10px;
      background-color: #fff;
      position: absolute;
      top: -1px;
      right: 1px;

      transform: rotate(-135deg);

    }

    &::before {
      background-image: none;
      order: 3;
      position: relative;
      top: -1px;
      right: 2px;
      align-self: center;
      content: '';
      width: 8px;
      height: 8px;
      background-color: $color-dark-shade50;
      transform: rotate(-135deg);
      
    }

  }

  &.menu-open {
    border-color: $iqdropdown-border-active;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    .iqdropdown-selection::before {
      background-image: none;
      background-color: $color-dark-shade75;
    }
    .iqdropdown-selection::after {
      background-image: none;
      background-color: #fff;
    }

  }
}
