mixin palette(options)
    -
        var colorClassName = "color-palette__box color-palette_" + options.color

    .color-palette
        div(class = colorClassName)
        div(class = "color-palette__name")= options.name
        div(class = "color-palette__value")= options.hash
        