include ../colors

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Colors-type test
    body
        h1 HELLO!!!
        .wrapper
           +palette({name: "Dark Shade", clarity: "100%", hash: "#1F2041"})



            
