doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Colors-type test
    body
        include _color-palette
        +color-palette({name: "Dark Shade 100%", hash: "#1F2041", color: "dark-shade"})
        +color-palette({name: "Dark Shade 75%",  hash: "#1F2041", color: "dark-shade75"})
        +color-palette({name: "Dark Shade 50%",  hash: "#1F2041", color: "dark-shade50"})
        +color-palette({name: "Dark Shade 25%",  hash: "#1F2041", color: "dark-shade25"})
        +color-palette({name: "Dark Shade 5%",   hash: "#1F2041", color: "dark-shade05"})
        +color-palette({name: "Purple",          hash: "#BC9CFF", color: "purple"})
        +color-palette({name: "Green",           hash: "#6FCF97", color: "green"})

