/***** Color Palette  *****/

.color-palette {
    display: grid; 
    grid-template-columns: auto 1fr;
    grid-column-gap: 30px;
    align-items: center;
    margin-bottom: 20px;

    &__box {
        width: 70px;
        height: 70px;
        border-radius: 6px;
        grid-area: 1/1/3/2;
    }
    
    &__name {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        color: $color-dark-shade;
    }
    
    &__value {
        font-family: Quicksand;
        font-style: normal;
        font-weight: 100;
        font-size: 19px;
        color: $color-dark-shade;
    }

    @mixin colors($colors...) {
        @each $i in $colors {
            &#{nth($i, 1)} {
                background: nth($i, 2);
            }
        }
    }
    @include colors(
        '_dark-shade'   $color-dark-shade,
        '_dark-shade75' $color-dark-shade75,
        '_dark-shade50' $color-dark-shade50,
        '_dark-shade25' $color-dark-shade25,
        '_dark-shade05' $color-dark-shade05,
        '_purple'       $color-purple,
        '_green'        $color-green
    )
}

