/***** Color Palette  *****/

@mixin config-icon-colors($prefix, $colors...) {
    @each $i in $colors {
        .#{$prefix}#{nth($i, 1)} {
            background: nth($i, 2);
        }
    }
}
@include config-icon-colors('color-palette_',
    'dark-shade'   $color-dark-shade,
    'dark-shade75' $color-dark-shade75,
    'dark-shade50' $color-dark-shade50,
    'dark-shade20' $color-dark-shade25,
    'dark-shade05' $color-dark-shade05,
    'purple'       $color-purple,
    'green'        $color-green
);

.color-palette {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.color-palette__box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 10px;
}

.color-palette__name {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    color: $color-dark-shade;
}

.color-palette__value {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 100;
    font-size: 19px;
    color: $color-dark-shade;
}
