/***** Color Palette  *****/

@mixin config-icon-colors($prefix, $colors...) {
    @each $i in $colors {
        .#{$prefix}#{nth($i, 1)} {
            background: nth($i, 2);
        }
    }
}
@include config-icon-colors('color-palette_',
    'dark-shade'   $color-dark-shade,
    'dark-shade75' $color-dark-shade75,
    'dark-shade50' $color-dark-shade50,
    'dark-shade25' $color-dark-shade25,
    'dark-shade05' $color-dark-shade05,
    'purple'       $color-purple,
    'green'        $color-green
);

.color-palette {
    display: grid; 
    grid-template-columns: auto 1fr;
    grid-column-gap: 30px;
    align-items: center;
    margin-bottom: 20px;

    &__box {
        width: 70px;
        height: 70px;
        border-radius: 6px;
        grid-area: 1/1/3/2;
    }
    
    &__name {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        color: $color-dark-shade;
    }
    
    &__value {
        font-family: Quicksand;
        font-style: normal;
        font-weight: 100;
        font-size: 19px;
        color: $color-dark-shade;
    }



}

